<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body style="background-color: #ffffff; padding: 24px">
    <div style="margin: auto; display: table">
      <img src="https://www.jatai.org.br/email/banner_2.png" width="560px" />
    </div>

    <div style="max-width: 560px; margin: 0 auto; background-color: #ffffff">
      <h1
        style="
          font-size: 24px;
          color: #008040;
          margin-top: 40px;
          font-weight: 700;
        "
      >
        Olá, pessoal!
      </h1>
      <p
        style="
          margin-bottom: 24px;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        "
      >
        Como de costume, enviamos este e-mail para alinharmos nossas demandas
        pendentes.
      </p>

      <div
        style="
          border-radius: 12px;
          border: 1px solid #ddd;
          padding: 16px;
          margin-bottom: 50px;
        "
      >
        <p style="font-weight: 600; font-size: 20px">Itens</p>
        <p style="font-weight: 600">Pendentes:</p>

        <table border="0">
          <tr>
            <!-- Primeira célula que ocupa 2 linhas -->
            <td rowspan="2">
              <input type="radio" />
            </td>

            <!-- Primeira célula da segunda coluna -->
            <td>
              <p style="margin: 0; font-weight: 500; color: #666666">
                Aprovação Financeira
              </p>
            </td>
          </tr>

          <tr>
            <!-- Segunda célula da segunda coluna (a primeira coluna é ocupada pelo rowspan) -->
            <td>
              <p style="margin: 0; font-weight: 600">Prazo: 09/10/2023</p>
            </td>
          </tr>
        </table>

        <table border="0">
          <tr>
            <!-- Primeira célula que ocupa 2 linhas -->
            <td rowspan="2">
              <input type="radio" />
            </td>

            <!-- Primeira célula da segunda coluna -->
            <td>
              <p style="margin: 0; font-weight: 500; color: #666666">
                Aprovação Financeira
              </p>
            </td>
          </tr>

          <tr>
            <!-- Segunda célula da segunda coluna (a primeira coluna é ocupada pelo rowspan) -->
            <td>
              <p style="margin: 0; font-weight: 600">Prazo: 09/10/2023</p>
            </td>
          </tr>
        </table>

        <p style="font-weight: 600">Concluídos:</p>

        <div style="display: flex; flex-direction: row; align-items: center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M10.0003 1.66666C5.41699 1.66666 1.66699 5.41666 1.66699 9.99999C1.66699 14.5833 5.41699 18.3333 10.0003 18.3333C14.5837 18.3333 18.3337 14.5833 18.3337 9.99999C18.3337 5.41666 14.5837 1.66666 10.0003 1.66666ZM13.5003 8.58332L9.50033 12.5833C9.16699 12.9167 8.66699 12.9167 8.33366 12.5833L6.50033 10.75C6.16699 10.4167 6.16699 9.91666 6.50033 9.58332C6.83366 9.24999 7.33366 9.24999 7.66699 9.58332L8.91699 10.8333L12.3337 7.41666C12.667 7.08332 13.167 7.08332 13.5003 7.41666C13.8337 7.74999 13.8337 8.24999 13.5003 8.58332Z"
              fill="#008040"
            />
          </svg>
          <div style="display: flex; flex-direction: column; margin-left: 12px">
            <p style="margin: 0; font-weight: 500; color: #666666">
              Aprovação Financeira
            </p>
          </div>
        </div>
      </div>

      <a
        href="#{contactLink}"
        style="
          gap: 8px;
          color: #fff;
          padding: 14px 24px;
          margin-right: auto;
          border-radius: 12px;
          background: #008040;
          cursor: pointer;
          text-decoration: none;
          display: inline;
        "
      >
        Entrar em contato
      </a>
      <p
        style="
          margin-top: 40px;
          margin-bottom: 0;
          color: #4d4d4d;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        "
      >
        Ate breve,
      </p>
      <p
        style="
          font-size: 16px;
          margin-top: 0;
          color: #008040;
          font-weight: 600;
          line-height: 24px;
        "
      >
        Equipe Jataí
      </p>
    </div>
  </body>
</html>
